body{
    display: grid;
    background-color: rgb(24,24,24);
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px 400px auto 100px;
    gap: 10px;
    grid-template-areas: "nav        nav       nav       nav"
                         "header     header    header    header"
                         "main       main      main      main"
                         "footer     footer    footer    footer";

    main{
        grid-area: main;
        }
    } 



