
.card {
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: $color;
    box-shadow: $sombra;
    p{
        color: white;
        &:nth-of-type(2){
            color: white
        }
    }
    h2{
        color: white;
    }
    &:hover p{
       background-color: burlywood;
    } 
 
}
