body{
    background-color: black;
}
.videos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  
  .reproductor {
    width: 500px;
    height: 350px;
    position: relative;
    box-shadow: inset -1px -1px 38px 4px rgba(255,255,255,1) ,-1px -1px 38px 4px rgba(255,255,255,1); 
  }
  .reproductor iframe {
    width: inherit;
    height: inherit;
  }
  .reproductor div {
    width: inherit;
    height: inherit;
  }
  .reproductor div img {
    width: inherit;
    height: inherit;
  }